.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    z-index: -10000 !important;
  }
}

.modal-content {
  background: var(--col-white);
  color: var(--col-window-bg);
  display: grid;

  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 30rem;

  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  &.visible {
    animation-name: bounce-in;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    opacity: 1;

    @keyframes bounce-in {
      0% {
        transform: scale(1.1);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  &.hidden {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.2s, opacity 0.2s ease;
    z-index: -10000 !important;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    font-family: "ExtraLight";
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    button {
      font-size: 1.25rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
    }

    .confirm-btn {
      background-color: var(--col-accent);
      color: var(--col-window-bg);
    }

    .cancel-btn {
      background-color: var(--col-window-bg);
      color: var(--col-white);
    }
  }

  &.form .modal-buttons {
    .confirm-btn {
      background-color: var(--col-primary);
      color: var(--col-white);
      transition: background-color 0.1s;

      &:disabled {
        background-color: var(--col-window-bg-faded);
      }
    }

    .cancel-btn {
      background: var(--col-accent);
      color: var(--col-window-bg);
    }
  }

  &.info .modal-buttons {
    .cancel-btn {
      background-color: var(--col-secondary);
      color: var(--col-white);
    }
  }
}