.filter {
  position: relative;
  display: grid;
  justify-content: end;

  margin-top: 1rem;
  margin-right: 1.5rem;

  .filter-btn {
    display: flex;
    gap: 0.25rem;
    min-width: 7rem;

    font-family: monospace;
    border: none;
    border-radius: 0.25rem;

    background: var(--col-secondary);
    color: var(--col-white);
    padding: 0.5rem;

    div {
      display: flex;
      gap: 0.2rem;

      .amount {
        opacity: 0.6;
        color: var(--col-secondary);

        &.non-zero {
          color: var(--col-white);
        }
      }
    }
  }

  .filter-items {
    z-index: 1000;
    position: absolute;
    top: 2.5rem;
    right: -0.5rem;
    min-width: 20rem;
    max-height: 25rem;

    padding: 0.75rem;
    padding-top: 1rem;

    margin-left: 1rem;

    border-radius: 0.25rem;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);

    display: grid;
    grid-template-columns: 1fr 7rem;
    gap: 1rem 0.25rem;

    background: var(--col-secondary);

    .filter-content {
      display: grid;
      grid-column: span 2;
      grid-template-columns: 1fr 1fr;

      background: var(--col-window-bg-faded);
      box-shadow: inset 1px 1px 5px var(--col-window-bg);
      border-radius: 0.25rem;

      padding-left: 0.2rem;
      max-height: 15rem;
      overflow-y: scroll;
      scrollbar-gutter: stable;

      label {
        display: flex;
        align-items: center;
        user-select: none;
        gap: 1rem;

        padding: 0.5rem;
        cursor: pointer;

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          display: grid;
          place-items: center;
          cursor: pointer;

          width: 1.15rem;
          height: 1.15rem;

          border-radius: 10ch;
          border: 1px dashed var(--col-window-bg-faded);
          background-color: var(--col-white-faded);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

          outline: none;
          padding-bottom: 0.25ch;

          &::before {
            content: "";
            display: block;

            width: 1.1rem;
            height: 0.5rem;

            transform: scale(0, 0);
            transition: 200ms transform ease-in-out;
            box-shadow: inset 0.5ch 0.5ch var(--col-accent);
          }

          &:checked::before {
            transform: scale(1, -1) rotate(45deg);
          }

          &:checked {
            border: 1px solid var(--col-window-bg);
            background: var(--col-white);
          }
        }

        @media screen and (min-width: 650px) {
          &:hover {
            input {
              border: 1px solid var(--col-window-bg);
              background: var(--col-white);
              transform: scale(1.2);
            }
          }
        }
      }

      &::-webkit-scrollbar {
        width: 0.25rem;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--col-white-faded);
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--col-white);
      }
    }

    .filter-type-btn {
      position: relative;
      display: grid;
      background: var(--col-window-bg-faded);
      box-shadow: inset 1px 1px 5px var(--col-window-bg);

      padding-left: 0.5rem;
      border-radius: 0.25rem;

      label {
        display: flex;
        align-items: center;
        gap: 1rem;

        input[type="radio"] {
          -webkit-appearance: none;
          appearance: none;
          cursor: pointer;

          width: 1rem;
          height: 1rem;

          border: none;
          border-radius: 1rem;
          background-color: var(--col-white-faded);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

          outline: none;
          padding-bottom: 0.25ch;

          &::before {
            content: "";
            display: block;

            width: 1rem;
            height: 1rem;

            border: none;
            background-color: var(--col-accent);
            border-radius: 1rem;
            transform: scale(0);
            transition: 300ms transform cubic-bezier(0.23, 1, 0.320, 1);
          }

          &:checked::before {
            transform: scale(1, -1) rotate(45deg);
          }
        }

        &:hover {
          input {
            background: var(--col-white);
            transform: scale(1.2);
          }
        }
      }
    }

    .clear-filter-btn {
      align-self: end;

      display: grid;
      justify-items: center;
      align-items: center;
      align-content: center;

      background: var(--col-window-bg);
      color: var(--col-white);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }

      p {
        font-family: monospace;
        opacity: 0.6;
        font-size: 0.9rem;
      }

      &:active {
        color: var(--col-window-bg);
        background: var(--col-white-faded);
      }
    }
  }

  //* Item animations
  .filter-items {
    transform-origin: 90% top;
    transition: transform 0.15s ease, opacity 0.2s ease;

    &.shown {
      pointer-events: auto;
      transform: scale(1);
      opacity: 1;

      transition-delay: 0s;

      * {
        transition: opacity 0.1s;

        opacity: 1;
        transition-delay: 0.15s;
      }
    }

    &.hidden {
      pointer-events: none;
      transform: scale(0);
      opacity: 0;
      transition-delay: 0.1s;

      * {
        transition: opacity 0.1s ease;

        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
}