.filter {
  position: relative;
  display: grid;
  justify-content: end;

  margin-top: 1rem;
  margin-right: 1.5rem;

  .filter-btn {
    display: flex;
    gap: 1rem;

    font-family: monospace;

    background: none;
    border: none;

    color: var(--col-white);
  }

  .filter-items {
    z-index: 1000;

    position: absolute;
    top: 2rem;
    right: -1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    background: var(--col-secondary);

    .filter-content {
      display: grid;
      grid-column: span 2;

      label {
        display: flex;
        gap: 1rem;

        padding: 0.5rem;
      }
    }

    .filter-type-btn {
      display: grid;

      label {
        display: flex;
        align-items: center;
      }
    }
  }
}