.task-card {
  position: relative;
  display: grid;
  gap: 1rem;

  padding: 1rem;
  background-color: var(--col-white);
  border-radius: 0.5rem;

  min-height: 10rem;
  transition: transform 0.1s ease-in-out;

  &.adder-tag {
    opacity: 0.3;
    background-color: transparent;
    border: 2px dotted var(--col-white-faded);

    .task-name {
      color: var(--col-white);
    }
  }

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
}

.task-name {
  text-transform: capitalize;
  color: var(--col-window-bg);
}

.tag-list {
  // overflow-y: scroll;
  // overflow-x: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;

  column-gap: 0.5rem;
  row-gap: 0.2rem;

  padding: 0.5rem;
  border-radius: 0.5rem;

  // background-color: var(--col-window-bg-faded);

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--col-secondary);
    border-radius: 0.5rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--col-secondary);
  }
}

.tag-name {
  font-size: .85rem;
  text-align: center;

  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  color: var(--col-window-bg);

  border-radius: 1rem;
  padding: 0.2rem 0.8rem;

  &.imp {
    background-color: var(--col-primary);
    color: var(--col-white);
  }
}

.adder-tag {
  .tag-list {
    background-color: transparent;
  }
}

.add-tag {
  background: none;
  border: none;

  span {
    $currentSize: min(10rem, 30vw);

    position: absolute;
    bottom: -1rem;
    left: calc(55% - ($currentSize / 2));

    opacity: 0.3;
    font-weight: 600;

    color: var(--col-white-faded);
    font-size: $currentSize;
  }
}