form {
  position: relative;

  .description,
  .modal-overlay .child-form .description {
    .name-area {
      label {
        $transition-speed: 0.05s;
        position: absolute;
        top: 0.7rem;
        left: 0.7rem;

        background: none;
        color: var(--col-window-bg-faded);

        font-size: 1.25rem;

        transition: left $transition-speed linear,
          top $transition-speed linear,
          font-size $transition-speed linear,
          background-color $transition-speed linear;
      }

      input::placeholder {
        color: transparent;
      }

      &:focus-within label,
      label.has-text {
        top: -0.75rem;
        left: 0.5rem;

        font-size: 1rem;
        background: var(--col-white);
        color: var(--col-window-bg);
      }

      &:focus-within input {
        &::placeholder {
          color: var(--col-window-bg-faded);
        }
      }
    }

    .name-area,
    .tag-area {
      display: grid;
      position: relative;

      label {
        pointer-events: none;
      }

      input {
        font-size: 1.25rem;
        outline: none;

        color: var(--col-window-bg);
        background: none;
        border: 1px solid var(--col-window-bg);
        border-radius: 0.25rem;

        padding: 0.75rem;

        &:focus {
          border: 1px solid var(--col-secondary);
        }

        &::placeholder {
          font-family: monospace;
          font-size: 1.25rem;
        }
      }
    }

    .tag-area {
      label {
        position: absolute;
        top: -0.75rem;
        left: 0.5rem;

        background: var(--col-white);
      }
    }

    .name-area.is-tag {
      display: grid;
      position: relative;

      input {
        padding-right: 5.25rem;
      }

      .add-tag-btn {
        position: absolute;
        right: 0;
        height: 3rem;

        padding: 0.75rem;
        background: var(--col-secondary);
        color: var(--col-white);

        border: none;
        border-radius: 0 0.25rem 0.25rem 0;

        &:disabled {
          background: var(--col-window-bg-faded);
        }

        &:active {
          background-color: var(--col-window-bg);
        }
      }
    }
  }
}

.tag-btns {
  margin-top: 0.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 7rem;

  .scroll-btn {
    display: flex;
    position: absolute;
    top: 0.225rem;

    border: none;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
    cursor: pointer;

    background: var(--col-white-faded);
    backdrop-filter: blur(0.1rem);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

    svg {
      color: var(--col-window-bg);
    }

    &.left {
      left: 0.15rem;
    }

    &.right {
      right: 7.15rem;

      svg {
        rotate: 180deg;
      }
    }

    svg {
      width: 1.75rem;
      height: 2.15rem;
    }

    &:active {
      background: var(--col-window-bg-faded);

      svg {
        color: var(--col-white);
      }
    }
  }

  .modify-tag-btn {
    justify-self: end;
    padding: 0.75rem;
    background: var(--col-window-bg);
    color: var(--col-white);

    border: none;
    border-radius: 0.25rem;

    &:disabled {
      background: var(--col-window-bg-faded);
    }

    &:active {
      background: var(--col-secondary);
    }
  }


  .selected-tags-info {
    position: absolute;
    top: -1.25rem;
    left: 0;
    display: flex;
    align-items: center;

    background: none;
    border-radius: 0.25rem;

    >p {
      font-family: monospace;
      font-size: 0.85rem;
      color: var(--col-window-bg);
      background: none;
      padding: 0 0.5rem;
    }

    svg {
      display: flex;
      fill: var(--col-window-bg);
    }
  }

  .selected-tags {
    background: var(--col-window-bg-faded);
    display: flex;
    gap: 0.5rem;

    border-radius: 0.25rem;

    padding-inline: 2.75rem;
    padding-block: 0.35rem;

    overflow-x: scroll;
    scrollbar-gutter: stable;

    >button {
      font-size: 0.85rem;
      font-weight: bolder;

      border-radius: 1rem;
      border: none;

      padding: 0 1rem;
      color: var(--col-window-bg);
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

      white-space: nowrap;
      cursor: pointer;

      &:hover {
        text-decoration: line-through;
        background-color: var(--col-accent);
      }

      &:active {
        text-decoration: line-through;
        background-color: var(--col-window-bg-faded);
        color: var(--col-white);
      }
    }

    &::-webkit-scrollbar {
      height: 0rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--col-secondary);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: var(--col-secondary);
    }
  }
}

.remove-btn {
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;

  top: 1.5rem;
  right: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--col-accent);

    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.25));
  }

  &:active {
    svg {
      fill: var(--col-window-bg);
    }
  }
}

.all-tag-view {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem 0.5rem;

  margin-top: 1rem;
  border: 1px solid var(--col-window-bg);
  border-radius: 0.25rem;
  padding: 1rem;

  span {
    background: var(--col-window-bg);
    color: var(--col-white);

    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;

    &:active {
      background-color: var(--col-accent);
      color: var(--col-window-bg);
      text-decoration: line-through;
    }
  }

  .info {
    position: absolute;
    top: -0.6rem;
    padding: 0 0.25rem;
    padding-right: 0.5rem;

    max-height: 1rem;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;

    background-color: var(--col-white);

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    p {
      font-family: monospace;
      font-size: 0.85rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.alert {
  .description>* {
    font-family: monospace;
  }

  .modal-buttons {
    .confirm-btn {
      background: var(--col-accent) !important;
      color: var(--col-window-bg) !important;
    }
  }
}