@use "../styles/components/Header.scss";
@use "../styles/pages/Options.scss";

:root {
  font-family: monospace;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-window-bg: #243642;
  --col-primary: #629584;
  --col-secondary: #387478;
  --col-accent: #E78F81;
  --col-white: #E2F1E7;

  --header-margin-top: 8.5rem;

  color: var(--col-white);
  background-color: var(--col-window-bg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: var(--header-margin-top);
}

.page>h1 {
  $faded-white: rgba(226, 241, 231, 0.6);

  opacity: 0.6;
  letter-spacing: 0.5rem;

  border-top: 1px solid $faded-white;
  border-bottom: 1px solid $faded-white;
  padding: 0.25rem 1rem;
}