@use "../styles/components/Header.scss";
@use "../styles/pages/OptionsPage.scss";
@use "../styles/pages/TaskPage.scss";
@use "../styles/pages/DetailsPage.scss";

:root {
  font-family: monospace;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col-window-bg: #243642;
  --col-primary: #629584;
  --col-secondary: #387478;
  --col-accent: #E78F81;
  --col-white: #E2F1E7;

  --col-white-faded: rgba(226, 241, 231, 0.6);
  --col-window-bg-faded: rgba(36, 54, 66, 0.6);

  --header-margin-top: 8.5rem;

  color: var(--col-white);
  background-color: var(--col-window-bg);
}

html.light {
  --col-window-bg: #ffffff;
  --col-primary: orange;
  --col-secondary: blue;
  --col-accent: red;
  --col-white: #000000;

  --col-white-faded: rgba(0, 0, 0, 0.2);
  --col-window-bg-faded: rgba(255, 255, 255, 0.6);

  color: var(--col-white);
  background-color: var(--col-window-bg);
}

html.dark {
  --col-window-bg: #000000;
  --col-primary: orange;
  --col-secondary: blue;
  --col-accent: red;
  --col-white: #ffffff;

  --col-white-faded: rgba(255, 255, 255, 0.6);
  --col-window-bg-faded: rgba(0, 0, 0, 0.6);

  color: var(--col-white);
  background-color: var(--col-window-bg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: var(--header-margin-top);
}

img {
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;

  object-fit: cover;
}

button {
  cursor: pointer;
}

.page {
  .page-header h1 {
    opacity: 0.6;
    letter-spacing: 0.5rem;
    text-transform: capitalize;

    border-top: 1px solid var(--col-white-faded);
    border-bottom: 1px solid var(--col-white-faded);
    padding-block: 0.25rem;
    padding-left: 2rem;
  }
}