@use "../components/TaskCard.scss";
@use "../components/TaskForm.scss";

.tasks-display {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 1300px) {
  .tasks-display {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .tasks-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .tasks-display {
    grid-template-columns: 1fr;
  }
}