@use "../components/TaskCard.scss";
@use "../components/TaskForm.scss";
@use "../components/TagFilter.scss";

.task-page {
  display: grid;
}

.tasks-display {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;

  .is-empty-filter {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bolder;
    background: var(--col-accent);
    color: var(--col-window-bg);
    border-radius: 0.5rem;
    user-select: none;
  }

  .task-card {
    cursor: pointer;
  }
}

@media screen and (min-width: 1300px) {
  .tasks-display {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .tasks-display {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .tasks-display {
    grid-template-columns: 1fr;
  }
}